* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
/*CSS For Header*/
header {
	height: 110vh;
	background: url(../images/bg.jpeg);
	background-size: cover;	
	background-position: center;
}
nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff26;

}
nav > ul {
	display: flex;
	list-style-type: none;
}
nav > ul > li {
	margin: 0 20px;
}
/*Styling for all buttons*/

.btn {
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
}
.btn-product {
	color: white;
	background-color: #59aad2;
	font-size: 15px;
	font-weight: bold;
}
#homeBtn {
	position: absolute;
	right: 20px;
	top: 20px;
	transition: 0.3s;
}
#homeBtn:hover {
	top: 15px;
	color: white;
	background-color: #d25959; 
	box-shadow: 0 14px 12px -12px black;
}
/*Dissapearing menu CSS*/
.submenu {
	background-color: whitesmoke;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}
#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	visibility: visible;
}
.submenu > div {
	width: 25%;
}
div + div {
	border-left: 1px solid black;
}
div > h4, div > p {
	margin: 10px 0;
	padding: 0 10px;	
}
.submenu > div > p:hover {
	background-color: #bbb;
}
.submenu > div > h4, .submenu > div > p {
	margin: 10px 0;
	padding: 0 10px;
}
.header-text > p{
	color: white;
	font-size: 20px;
}
.header-text {
	height: 90vh;
	width: 52%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header-text > h1 {
	font-size: 70px;

}
.header-text > h1, .header-text > p, .header-text > button {
	margin-left: 50px;
}
.header-text .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}
/*End CSS for Header*/

/*Start of Quote CSS*/
.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../images/quotes.jpeg);
	background-size: cover;
	background-attachment: fixed;
}
.quote > div {
	width: 50%;
}
.quote > div > div {
	text-align: center;
	margin-top: 20px;
}
.quote > div > p {
	color: white;
	text-shadow: 2px 2px black;	

}
/*ENd of Quote CSS*/

/*Start of Content CSS*/

.content {
	height: 100vh;
	display: flex;
}
.left {
	height: 100vh;
	width: 50vw;
	display:flex;
	justify-content: center;
	align-items: center;
}
.left > div > img{
	height: 350px;

}
.right {
	height: 100vh;
	width: 50vw;
	justify-content: center;
	align-items: center;
	border: none;
	display: flex;
}
.right-container > p {
	color: #545454;
}
.right-container > div {
	display: flex;
}
.right-container1 {
	width: 40%;
	display: flex;
	flex-direction: column;
}
.right-container2 {
	width: 40%;
	display: flex;
	flex-direction: column;
	border: none;
}
.right-container1 > h1 {
	font-size: 60px;
}
.right-container1 > h1 > span {
	font-size: 20px;
	position: relative;
	bottom: 35px;
}
.right-container2 > h1{
	font-size: 60px;
}
.right-container2 > h1 > span {
	font-size: 20px;
	position: relative;
	bottom: 35px;
}
.right-container1 > p > span {
	color: #545454;
}
.right-container2 > p > span {
	color: #545454;
}
/*End of Content CSS*/

/*Start of Comments container*/
.testimonial-container {
	height: 100vh;
}
.testimonial-sub-container {
	text-align: center;
	position: relative;
	top: 100px;
}
.testimonial-sub-container > p {
	color: #545454;
}
.testimonials  {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px whitesmoke;
	margin: 10px;	

}
.testimonial1, .testimonial2, .testimonial3  {
	width: 20%;
	height: 300px;
	border: 1px solid #dad2d2;
	margin: 20px;
	border-radius: 4px;
	position: relative;
}
.testimonials > div > img {
	height: 60px;
	border-radius: 50%;
	position: relative;
	top: 10px;

}
.testimonials > .testimonial1 > div {
	margin-top: 40px;
}

.testimonials > .testimonial2 > div {
	margin-top: 40px;
}

.testimonials > .testimonial3 > div {
	margin-top: 40px;
}
hr {
	color: red;
	position: relative;
	top: 40px;
}
.testimonials > div:hover {
	bottom: 15px;
	color: ;
	background-color: #e8e8e8 ; 
	box-shadow: 0 14px 12px -12px black;
}
/*End of Comments container*/